<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="NorthwindEntities1" connectionString="metadata=res://*/Modelos.northwind.csdl|res://*/Modelos.northwind.ssdl|res://*/Modelos.northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Northwind;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="pubsEntities2" connectionString="metadata=res://*/Modelos.Pubs.csdl|res://*/Modelos.Pubs.ssdl|res://*/Modelos.Pubs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=pubs;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
